<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Financial Tracker</title>
        <meta charset="utf-8">
        <meta name="description" content="App to track your finance and mesure all your financial movements"/>
        <meta name="keywords" content="Financial Tracker, Mesure your finance, Grow your finances"/>
        <meta name="author" content="ToniLR" />
        <meta name="copyright" content="ToniLR" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home.component.css">
    </head>

    <body>
        <navbar></navbar>

    </body>
</html>