
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  .content{
      position: relative;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
      background-color: rgba(33,37,41,255);
      padding: 20px;

  }
  .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      margin-bottom: 2%;
  }
  .title{
      width: fit-content;
      color: white;

  }
  .filters{
display: flex;
justify-content: space-between;
    margin-bottom: 1.5em;
  }
  .filter input{
    height: 2.5em;
    border-radius: 5px;
    padding: 7px 40px 7px 12px;


  }

  .inputwithicon {
    position: relative; /* Establece un contenedor relativo para el posicionamiento absoluto */
    display: flex; /* Para alinear el icono y el input */
    align-items: center; /* Centra verticalmente el contenido */
}

.inputwithicon .icon {
    position: absolute; /* Posiciona el icono de manera absoluta */
    left: 10px; /* Distancia desde la izquierda del contenedor */
    color: #aaa; /* Color del icono */
    pointer-events: none; /* Para que no afecte la usabilidad del input */
}

.inputwithicon .input-field {
    padding-left: 30px; /* Añade un espacio a la izquierda para que no se sobreponga al icono */
    width: 100%; /* Ajusta el ancho del input */
    box-sizing: border-box; /* Asegura que el padding se incluya dentro del ancho */
}
  .dropdown{
      float: right;
  }
  .financialData{
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 5px;
  }
  .grid-item {
      border: 1px solid white;
      font-size: 30px;
      text-align: center;
      border-radius: 0.3rem;
    }

    .graphicAndCardData{
      display: grid;
      grid-template-columns: auto auto;
      padding: 5px;
  }
    
  .APIsData{
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 5px;
  }
    


  /* Table Styles */
  .table-data{
    flex: 1; /* Permite que el contenedor de la tabla se expanda */
    display: flex; /* Flex para alinear la tabla */
    align-items: stretch; /* Asegura que la tabla ocupe todo el espacio vertical */


    flex-direction: column; /* Cambiado para alinear tabla y paginación verticalmente */
    max-width: 100%; /* Limita el ancho máximo al tamaño del contenedor */

  }


.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgba(33,37,41,255);
    height: 100%; 
    min-width: 100%;
}
  
  
  .fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    width: 20%; /* Asegura que todas las columnas tengan el mismo tamaño */

  }
  
  .fl-table td {
    font-size: 12px;

  }
  .fl-table tr {
    min-width: 100%;
    width: 100%; /* Ajusta la fila para que use todo el ancho */



  }
  
  .fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;

  }
  
  
  .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
  }
  
  .fl-table tr:nth-child(even) {
    background: rgba(33,37,41,255);
  }
  
  .pagination {
    margin-top: 10px;
    text-align: center;
    display: flex; /* Alinea los botones de manera flexible */
    justify-content: center; /* Centra los botones */
    flex-wrap: wrap; /* Permite que los botones se envuelvan si son demasiados */
    width: 100%; /* Asegura que el contenedor de la paginación ocupe el ancho completo */
    padding: 10px 0; /* Añadir algo de espacio alrededor */
    box-sizing: border-box; /* Incluye el padding en el tamaño del elemento */
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.pagination button.active {
    background-color: #21be72;
    color: white;
    border-color: #21be72;
}
.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

  /* Responsive */
  
  @media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
        width: 100%; /* Corrige el ancho para que la tabla no se salga */

    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
    .pagination {
      flex-direction: column; /* Hace que los botones de paginación sean verticales */
      padding: 5px 0; /* Reduce el espacio en pantallas pequeñas */
  }
  }




  /*---dropdown styles-----*/

  .input {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .select {
    position: relative;
    min-width: 200px;
  }
  .select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }
  .select select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
  }
  .select select:required:invalid {
    color: #5a667f;
  }
  .select select option {
    color: #223254;
  }
  .select select option[value=""][disabled] {
    display: none;
  }
  .select select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
  }
  .select select:hover + svg {
    stroke: #07f;
  }
  .sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }