
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  .content{
      position: relative;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
      background-color: rgba(33,37,41,255);
      padding: 20px;

  }
  .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
  }
  .title{
      width: fit-content;
      color: white;

  }

  .dropdown{
      float: right;
  }
  .financialData{
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 5px;
  }
  .grid-item {
      border: 1px solid white;
      font-size: 30px;
      text-align: center;
      border-radius: 0.3rem;
    }

    .graphicAndCardData{
      display: grid;
      grid-template-columns: auto auto;
      padding: 5px;
  }
    
  .APIsData{
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 5px;
  }
    


  /* Table Styles */
  .table-data{
    flex: 1; /* Permite que el contenedor de la tabla se expanda */
    display: flex; /* Flex para alinear la tabla */
    align-items: stretch; /* Asegura que la tabla ocupe todo el espacio vertical */
  }


.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgba(33,37,41,255);
    height: 100%; 
    min-width: 100%;
}
  
  
  .fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    width: 20%; /* Asegura que todas las columnas tengan el mismo tamaño */

  }
  
  .fl-table td {
    font-size: 12px;

  }
  .fl-table tr {
    min-width: 100%;
    width: 100%; /* Ajusta la fila para que use todo el ancho */



  }
  
  .fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;

  }
  
  
  .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
  }
  
  .fl-table tr:nth-child(even) {
    background: rgba(33,37,41,255);
  }
  
  /* Responsive */
  
  @media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
  }