
<div class="content">
    <div class="header">
        <div class="title">
            <h2>Payments</h2>
        </div>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
    </div>
    <div class="filters">
        <div class="filter">
            <div><h6 class="text-white">Titulo</h6></div>
            <div class="inputwithicon">
                <i class="fa-solid fa-magnifying-glass icon" ></i>      
                <input class="input-field" type="text" placeholder="Search X cosa de la tabla">
            </div>
        </div>
        <div class="filter">
            <div><h6 class="text-white">Titulo</h6></div>
            <div>
                <div class="input">
                    <label class="select" for="slct">
                      <select id="slct" required="required">
                        <option value="" disabled="disabled" selected="selected">Select option</option>
                        <option value="#">One</option>
                        <option value="#">Two</option>
                        <option value="#">Three</option>
                        <option value="#">Four</option>
                        <option value="#">Five</option>
                        <option value="#">Six</option>
                        <option value="#">Seven</option>
                      </select>
                      <svg>
                        <use xlink:href="#select-arrow-down"></use>
                      </svg>
                    </label>
                    <!-- SVG Sprites-->
                    <svg class="sprites">
                      <symbol id="select-arrow-down" viewbox="0 0 10 6">
                        <polyline points="1 1 5 5 9 1"></polyline>
                      </symbol>
                    </svg>
                  </div>
            </div>
        </div>
        <div class="filter">
            <div><h6 class="text-white">Titulo</h6></div>
            <div class="inputwithicon">
                <i class="fa-solid fa-magnifying-glass icon" ></i>      
                <input type="text" class="input-field" placeholder="Search X cosa de la tabla">
            </div>
        </div>
        <div class="filter">
            <div><h6 class="text-white">Titulo</h6></div>
            <div>
                <div class="input">
                    <label class="select" for="slct">
                      <select id="slct" required="required">
                        <option value="" disabled="disabled" selected="selected">Select option</option>
                        <option value="#">One</option>
                        <option value="#">Two</option>
                        <option value="#">Three</option>
                        <option value="#">Four</option>
                        <option value="#">Five</option>
                        <option value="#">Six</option>
                        <option value="#">Seven</option>
                      </select>
                      <svg>
                        <use xlink:href="#select-arrow-down"></use>
                      </svg>
                    </label>
                    <!-- SVG Sprites-->
                    <svg class="sprites">
                      <symbol id="select-arrow-down" viewbox="0 0 10 6">
                        <polyline points="1 1 5 5 9 1"></polyline>
                      </symbol>
                    </svg>
                  </div>
            </div>
        </div>
        <div class="filter">
            <div><h6 class="text-white">Titulo</h6></div>
            <div class="inputwithicon">
                <i class="fa-solid fa-magnifying-glass icon" ></i>      
                <input type="text" class="input-field" placeholder="Search X cosa de la tabla"></div>
        </div>
        <div class="filter">
            <div><h6 class="text-white">Titulo</h6></div>
            <div>
                <div class="input">
                    <label class="select" for="slct">
                      <select id="slct" required="required">
                        <option value="" disabled="disabled" selected="selected">Select option</option>
                        <option value="#">One</option>
                        <option value="#">Two</option>
                        <option value="#">Three</option>
                        <option value="#">Four</option>
                        <option value="#">Five</option>
                        <option value="#">Six</option>
                        <option value="#">Seven</option>
                      </select>
                      <svg>
                        <use xlink:href="#select-arrow-down"></use>
                      </svg>
                    </label>
                    <!-- SVG Sprites-->
                    <svg class="sprites">
                      <symbol id="select-arrow-down" viewbox="0 0 10 6">
                        <polyline points="1 1 5 5 9 1"></polyline>
                      </symbol>
                    </svg>
                  </div>
            </div>
        </div>
    </div>
    <div class="table-data text-white">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
                <th>Header 5</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of paginatedRows">
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            <tbody>
        </table>
        <div class="pagination">
          <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
          
          <!-- Mostrar siempre el primer número de página -->
          <button *ngIf="pages[0] !== getVisiblePages()[0]" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
          
          <!-- Mostrar '...' si hay un salto de páginas antes de las páginas visibles -->
          <span *ngIf="getVisiblePages()[0] > 2">...</span>
          
          <!-- Páginas visibles -->
          <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">
            {{ page }}
          </button>
          
          <!-- Mostrar '...' si hay un salto de páginas después de las páginas visibles -->
          <span *ngIf="getVisiblePages().slice(-1)[0] < pages.length - 1">...</span>
          
          <!-- Mostrar siempre el último número de página -->
          <button *ngIf="pages[pages.length - 1] !== getVisiblePages()[getVisiblePages().length - 1]" (click)="changePage(pages.length)" [class.active]="currentPage === pages.length">{{ pages.length }}</button>
          
          <button (click)="nextPage()" [disabled]="currentPage === pages.length">Siguiente</button>
        </div>
    </div>
</div>
